<%- include('./partials/header') -%>
<%- include('./partials/sidebar') -%>
<div>
    <h2>
        <%= title %>
        <% if (posting.neighborhood) { %>
            (<%= posting.neighborhood%>)
        <% } %>
    </h2>
    <p><%= posting.description %></p>
    <p>Posted: <%= posting.date_posted_ago %> days ago</p>
    <hr/>
    <a href=<%=current_url + '/update' %>>update posting</a>
    <br>
    <a href=<%=current_url + '/delete' %>>delete posting</a>

</div>

<%- include('./partials/footer') -%>