<%- include('./partials/header') -%>
<%- include('./partials/sidebar') -%>
<div>
  <h1><%= title %></h1>
        <% switch(keyword) { 
            case "region": %> 
                <hr/>
                <p>Do you really want to delete this region? Deleting this region will delete <%= section_count %> section(s) and all associated categories and postings. This action cannot be undone.</p>
                <form method="POST" action="">
                    <input name="regionid" id="regionid" type="hidden" required="true" value= <%=region._id %> >
                    <button class="btn btn-outline-primary" type="submit">delete</button>
                </form>
                <% break;
            case "section": %>
                <hr/>
                <p>Do you really want to delete this section? Deleting this section will delete <%= category_count %> category(s) and all associated postings. This action cannot be undone.</p>
                <form method="POST" action="">
                    <input name="sectionid" id="sectionid" type="hidden" required="true" value= <%=section._id %> >
                    <button class="btn btn-outline-primary" type="submit">delete</button>
                </form>
                <% break;
            case "category": %>
                <hr/>
                <p>Do you really want to delete this category? Deleting this category will delete <%= posting_count %> posting(s). This action cannot be undone.</p>
                <form method="POST" action="">
                    <input name="categoryid" id="categoryid" type="hidden" required="true" value= <%=category._id %> >
                    <button class="btn btn-outline-primary" type="submit">delete</button>
                </form>
                <% break;
            case "posting": %>
                <hr/>
                <p>Do you really want to delete this posting? This action cannot be undone.</p>
                <form method="POST" action="">
                    <input name="postingid" id="postingid" type="hidden" required="true" value= <%=posting._id %> >
                    <button class="btn btn-outline-primary" type="submit">delete</button>
                </form>
                <% break;
            default: %>
                <p></p>
        <% } %>
</div>

<%- include('./partials/footer') -%>
