<%- include('./partials/header') -%>
<%- include('./partials/navbar-crud') -%>
<div class="form">
  <h1><%= title %></h1>
        <% switch(keyword) { 
            case "region": %> 
                <form method="POST" action="">
                    <div class="form-floating mb-3">
                        <input name = "name" id="name" class="form-control" type="text" placeholder="West Los Angeles, South Bay, etc." value = "<%= region.name %>" >
                        <label for="name" >region (e.g. west los angeles, south bay...)</label>                       
                    </div>
                    <div class="form-floating mb-3">
                        <input name = "alias" id="alias" class="form-control" type="text" placeholder="wla, sb, etc." value = "<%= region.alias %>" >
                        <label for="alias" class="col-form-label">alias (e.g. wla, sb...)</label>
                    </div>
                    <input name="regionid" id="regionid" type="hidden" required="true" value= <%=region._id %> >
                    <button class="btn btn-outline-primary" type="submit">submit</button>
                </form>
                <% if (locals.errors) { %>
                    <ul class="text-danger error-list">
                        <% errors.forEach(error => { %>
                            <li> <%= error.msg %> </li>
                        <% }) %>
                    </ul>
                <% }
            break;
            case "section": %>
                <form method="POST" action="">
                    <div class="form-floating mb-3">
                        <input name = "name" id="name" class="form-control" type="text" placeholder="placeholder" value = "<%= section.name %>" >   
                        <label for="name" >section (e.g. for sale, housing...)</label>
                    </div>
                    <select class="form-select mb-3" aria-label="Select region" name = "region" id="region" placeholder="Select region" required="true" disabled>
                        <option value= <%= region._id %> selected = "selected" > <%= region.name %> </option>
                    </select>
                    <input name="regionid" id="regionid" type="hidden" required="true" value= <%=region._id %> >
                    <input name="sectionid" id="sectionid" type="hidden" required="true" value= <%=section._id %> >
                    <button class="btn btn-outline-primary" type="submit">Submit</button>
                </form>
                <% if (locals.errors) { %>
                    <ul class="text-danger error-list">
                        <% errors.forEach(error => { %>
                            <li> <%= error.msg %> </li>
                        <% }) %>
                    </ul>
                <% }
                break;
            case "category": %>
                <form method="POST" action="">
                    <div class="form-floating mb-3">
                        <input name = "name" id="name" class="form-control" type="text" placeholder="placeholder" value = "<%= category.name %>" >
                        <label for="name" >category (e.g. furniture, antiques...)</label>
                    </div>
                    <select class="form-select mb-3" aria-label="Select region" name = "region" id="region" placeholder="Select region" required="true" disabled>
                        <option value= <%= region._id %> selected = "selected" > <%= region.name %> </option>
                    </select>
                    <select class="form-select  mb-3" aria-label="Select section" name = "section" id="section" placeholder="Select section" required="true" disabled>
                        <option value= <%= section._id %> selected = "selected" > <%= section.name %> </option>
                    </select>
                    <input name="regionid" id="regionid" type="hidden" required="true" value= <%=region._id %> >
                    <input name="sectionid" id="sectionid" type="hidden" required="true" value= <%=section._id %> >
                    <input name="categoryid" id="categoryid" type="hidden" required="true" value= <%=category._id %> >
                    <button class="btn btn-outline-primary" type="submit">submit</button>
                </form>
                <% if (locals.errors) { %>
                    <ul class="text-danger error-list">
                        <% errors.forEach(error => { %>
                            <li> <%= error.msg %> </li>
                        <% }) %>
                    </ul>
                <% }
                break;
            case "posting": %>
                <form method="POST" action="" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <input name = "title" id="title" class="form-control" type="text" placeholder="placeholder" value = "<%= posting.title %>" >
                        <label for="title" >posting title</label> 
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <div class="form-floating">
                            <input name = "price" id="price" class="form-control" type="number" placeholder="placeholder" value = "<%= posting.price %>" > 
                            <label for="price" >price</label> 
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input name = "neighborhood" id="neighborhood" class="form-control" type="text" placeholder="placeholder" value = "<%= posting.neighborhood %>" >   
                        <label for="neighborhood" >city or neighborhood</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea name = "description" id="description" class="form-control" type="textarea" style="height: 200px" placeholder="placeholder" ><%= posting.description_text %></textarea>  
                        <label for="description" >description</label>
                    </div>
                    <select class="form-select mb-3" aria-label="Select region" name = "region" id="region" placeholder="Select region" required="true">
                        <% regions.forEach (region => { %>
                            <option value= <%= region._id %> > <%= region.name %> </option>
                        <% }) %>
                    </select>
                    <select class="form-select  mb-3" aria-label="Select section" name = "section" id="section" placeholder="Select section" required="true" disabled></select>
                    <select class="form-select  mb-3" aria-label="Select category" name = "category" id="category" placeholder="Select category" required="true" disabled></select>
                    <div class="mb-3" id="thumbnail-container">
                        <% if (posting.image.length > 0) {
                            posting.image.forEach( img => {  %>
                                <img src="data:image/<%=img.contentType%>;base64,<%= img.data.toString('base64')%>"
                                    class = "img-thumbnail"
                                    width = "100"
                                />
                            <% })
                        } %>
                    </div>
                    <button class = "btn btn-outline-primary mb-3" type = "button" id = "delete-button">delete all photos</button>
                    <input type="file" class="form-control mb-3" name="posting-photo">
                    <input type="file" class="form-control mb-3" name="posting-photo">
                    <input type="file" class="form-control mb-3" name="posting-photo">
                    <input name="delete_img" id="delete_img" type="hidden" required="true" value= false >
                    <button class="btn btn-outline-primary" type="submit">submit</button>
                </form>
                <script> 
                    //create references to DOM objects
                    const region_select = document.getElementById('region');
                    const section_select = document.getElementById('section');
                    const cat_select = document.getElementById('category');
                    const delete_button = document.getElementById('delete-button');
                    const thumbnails = document.getElementById("thumbnail-container");
                    const deleteImg = document.getElementById('delete_img');

                    //convert regions to JS object
                    var regions = <%- JSON.stringify(regions) %>

                    //update section select when region is selected
                    region_select.addEventListener('click', (e) => {
                        //remove all previous options
                        while(section_select.firstChild) {
                            section_select.removeChild(section_select.firstChild);
                        };
                        //get selected region
                        var region_selected = region_select.value;
                        
                        //display section options for that region
                        section_select.disabled = false;
                        regions.forEach(region => {
                            if (region_selected === region._id) {
                                region.sections.forEach (section => {
                                    var opt = document.createElement('option');
                                    opt.value = section._id;
                                    opt.innerHTML = section.name;
                                    section_select.appendChild(opt);
                                });
                            };
                        });
                    });

                    //update category select when section is selected
                    section_select.addEventListener('click', (e) => {
                        //remove all previous options
                        while(cat_select.firstChild) {
                            cat_select.removeChild(cat_select.firstChild);
                        };
                        //get selected region and section
                        var region_selected = region_select.value;
                        var section_selected = section_select.value;
                        
                        //display category options for that secction
                        cat_select.disabled = false;
                        regions.forEach(region => {
                            if (region_selected === region._id) {
                                region.sections.forEach (section => {
                                    if (section_selected === section._id) {
                                        section.categories.forEach (cat => {
                                            var opt = document.createElement('option');
                                            opt.value = cat._id;
                                            opt.innerHTML = cat.name;
                                            cat_select.appendChild(opt);
                                        });
                                    };
                                });
                            };
                        });
                    });

                    delete_button.addEventListener('click', (e) => {
                        deleteImg.value = true;
                        thumbnails.style.display = "none";
                        delete_button.style.display = "none";
                    });
                </script>
                <% if (locals.errors) { %>
                    <ul class="text-danger error-list">
                        <% errors.forEach(error => { %>
                            <li> <%= error.msg %> </li>
                        <% }) %>
                    </ul>
                <% }
                break;
            default: %>
                <p></p>
        <% } %>
</div>

<%- include('./partials/footer') -%>
