<%- include('./partials/header') -%>
<%- include('./partials/sidebar') -%>

<div class="main-container">
    <div class="header classifieds-header greybox-hor">
        <a href=""><%= title %></a>
    </div>
    <div class="classifieds-container">    
        <% switch(keyword) {
            case "section": %>       
                    <% if (section_list != "") {
                        section_list.forEach(section => { %>
                            <div>
                                <div class="greybox-hor">
                                    <strong><a href= "<%=region.url + section.url %>"> <%= section.name %> </a></strong>
                                </div>
                                <ul class="classifieds">
                                    <% if (section.categories != []) {
                                        section.categories.forEach( cat => { %>
                                            <li><a href="<%=region.url + section.url + cat.url %>"> <%= cat.name %> </a></li>
                                        <% })
                                    } %>
                                </ul>
                            </div>
                        <% })
                    } else { %>
                        <p>There are no sections in this region yet.</p>
                    <% } %>
                
                <% break;
            case "category": %>
                <ul>
                <% if (category_list != "") {
                    category_list.forEach(cat => { %>
                        <li>
                            <a href= "<%= region.url + section.url + cat.url %>"> <%= cat.name %> </a>
                        </li>
                    <% })
                } else { %>
                    <p>There are no categories in this section yet.</p>
                <% } %>
                </ul>
                <% break;
        } %>
    </div>

</div>
<%- include('./partials/footer') -%>