<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>
<%- include('./partials/sidebar') -%>


<div class="main-container">
        <% switch(keyword) {
            case "section": %>
                <ul>
                <% if (section_list != "") {
                    section_list.forEach(section => { %>
                        <li>
                            <a href= "<%=region.url + section.url %>"> <%= section.name %> </a>
                        </li>
                    <% })
                } else { %>
                    <p>There are no sections in this region yet.</p>
                <% } %>
                </ul>
                <hr/>
                <% break;
            case "category": %>
                <ul>
                <% if (category_list != "") {
                    category_list.forEach(cat => { %>
                        <li>
                            <a href= "<%= region.url + section.url + cat.url %>"> <%= cat.name %> </a>
                        </li>
                    <% })
                } else { %>
                    <p>There are no categories in this section yet.</p>
                <% } %>
                </ul>
                <hr/>
                <% break;
        } %>

</div>
<%- include('./partials/footer') -%>