<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>
<%- include('./partials/sidebar') -%>


<div class="main-container">
    <h1><%= title %></h1>
        <% switch(keyword) {
            case "region": %>
                <p>Welcome to <em>crangslist</em>, your friendly neighborhood community board.
                    Read and post the latest classified ads in your area.
                    We are currently based in Los Angeles--coming soon to a city near you.
                </p>
                <ul>
                <% if (region_list != "") {
                    region_list.forEach(region => { %>
                        <li>
                            <a href= <%=region.url %>> <%= region.name %> </a>
                        </li>
                    <% })
                } else { %>
                    <p>There are no regions yet.</p>
                <% } %>
                </ul>
                <% break;
            case "section": %>
                <ul>
                <% if (section_list != "") {
                    section_list.forEach(section => { %>
                        <li>
                            <a href= "<%=region.url + section.url %>"> <%= section.name %> </a>
                        </li>
                    <% })
                } else { %>
                    <p>There are no sections in this region yet.</p>
                <% } %>
                </ul>
                <hr/>
                <a href=<%=region.url + '/update' %>>update region</a>
                <br>
                <a href=<%=region.url + '/delete' %>>delete region</a>
                <% break;
            case "category": %>
                <ul>
                <% if (category_list != "") {
                    category_list.forEach(cat => { %>
                        <li>
                            <a href= "<%= region.url + section.url + cat.url %>"> <%= cat.name %> </a>
                        </li>
                    <% })
                } else { %>
                    <p>There are no categories in this section yet.</p>
                <% } %>
                </ul>
                <hr/>
                <a href=<%=region.url + section.url + '/update' %>>update section</a>
                <br>
                <a href=<%=region.url + section.url + '/delete' %>>delete section</a>
                <% break;
            case "posting": 
                if (posting_list != "") { %>
                    <div class="card-container">
                        <% posting_list.forEach(posting => { %>
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                        <a href= "<%= region.url + section.url + category.url + posting.url %>" class="thumbnail"> <%= posting.title %> - <%= posting.date_posted_text %></a>
                                    </div>
                                    <% if (posting.image.length > 0) { %>
                                        <img src="data:image/<%=posting.image[0].contentType%>;base64,<%= posting.image[0].data.toString('base64')%>" 
                                        class="img-thumbnail"
                                        />
                                    <% } %>
                                </div>
                            </div>
                        <% }) %> 
                    </div>
                <% } else { %>
                    <div>
                        <p>There are no postings in this category yet.</p>
                    </div>
                <% } %>
                <hr/>
                <a href=<%=region.url + section.url + category.url + '/update' %>>update category</a>
                <br>
                <a href=<%=region.url + section.url + category.url + '/delete' %>>delete category</a>
                <% break;
        } %>

</div>
<%- include('./partials/footer') -%>